.pokemon-flex-div {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 3vh 40px;
}

.pokemon-trainer-div {
    width: 300px;
}

.pokemon-trainer-image {
    height: 500px;
}

.pokemon {
    height: 500px;
    width: 750px;
    background-color: black;
    opacity: .7;
    border-radius: 20px;
    display: flex;
}

.pokemon-pictures {
    height:200px
}

.pokemon-name{
    color:white;
}